# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [174]:
import pandas as pd

# Cargamos el dataframe como df
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

In [175]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [177]:
# Reemplazamos la columna state
df.rename(columns= {
    'ST': 'state'
    },
    inplace=True
)
df.columns

Index(['Customer', 'state', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [178]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [179]:
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [180]:
#Limpio la columna Gender
df['gender'] = df['gender'].replace({
    'Femal': 'F', 'female': 'F', 'Female': 'F', 
    'M': 'M', 'Male': 'M', 'male': 'M'
})
df['gender']

0       NaN
1         F
2         F
3         M
4         M
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: gender, Length: 4008, dtype: object

In [181]:
list(df['state'].unique())

['Washington',
 'Arizona',
 'Nevada',
 'California',
 'Oregon',
 'Cali',
 'AZ',
 'WA',
 nan]

In [182]:
# Unifico las abreviaturas de los estados por sus nombres completos
df['state'] = df['state'].replace({
    'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'
})
list(df['state'].unique())

['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan]

In [183]:
# Unifico el resultado Bachelor
list(df['education'].unique())

['Master',
 'Bachelor',
 'High School or Below',
 'College',
 'Bachelors',
 'Doctor',
 nan]

In [184]:
df['education'] = df['education'].replace({
    'Bachelors' : 'Bachelor'
})
list(df['education'].unique())

['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor', nan]

In [185]:
#Quito el % usando replace 
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')
list(df['customer_lifetime_value'].unique())

[nan,
 '697953.59',
 '1288743.17',
 '764586.18',
 '536307.65',
 '825629.78',
 '538089.86',
 '721610.03',
 '2412750.40',
 '738817.81',
 '473899.20',
 '819719.71',
 '879879.70',
 '881901.89',
 '538443.17',
 '746313.94',
 '256686.78',
 '394524.16',
 '571033.31',
 '816261.71',
 '287205.13',
 '617710.93',
 '245019.10',
 '239210.79',
 '580206.60',
 '394637.21',
 '916206.32',
 '1290256.01',
 '323536.05',
 '245458.35',
 '1897545.61',
 '471532.13',
 '473787.17',
 '493291.63',
 '574422.97',
 '1389173.57',
 '738097.67',
 '309003.41',
 '252163.31',
 '265206.18',
 '277104.50',
 '393900.64',
 '1223187.97',
 '495165.61',
 '1281910.29',
 '446851.05',
 '551434.40',
 '334387.53',
 '229447.89',
 '3670742.64',
 '3347334.95',
 '798343.17',
 '487938.48',
 '429399.73',
 '716439.55',
 '761951.58',
 '395800.28',
 '449949.33',
 '405956.74',
 '445811.34',
 '811033.31',
 '333976.49',
 '2426101.78',
 '661397.37',
 '293069.35',
 '867219.43',
 '1163866.93',
 '684615.03',
 '1172777.65',
 '2264383.48',
 '261447.43',
 '245175.27',
 '678127.02',
 '497480.15',
 '859160.49',
 '559216.14',
 '800947.28',
 '5816655.35',
 '802522.94',
 '578018.22',
 '411853.91',
 '252307.02',
 '655421.64',
 '538275.20',
 '592672.94',
 '268347.07',
 '269518.24',
 '604702.52',
 '1317101.28',
 '1595001.95',
 '252765.38',
 '267209.58',
 '531329.40',
 '2094619.25',
 '837535.39',
 '480166.15',
 '574594.33',
 '606611.60',
 '800230.83',
 '239391.54',
 '476281.79',
 '433038.60',
 '940272.98',
 '696669.45',
 '769406.43',
 '871756.11',
 '592874.85',
 '245297.73',
 '670157.17',
 '499655.27',
 '849269.88',
 '771349.40',
 '518579.76',
 '729006.98',
 '477294.38',
 '680649.14',
 '246978.13',
 '310392.30',
 '1048491.54',
 '890273.76',
 '549944.72',
 '1502359.86',
 '250910.79',
 '3122174.81',
 '313350.34',
 '383745.19',
 '1179049.62',
 '282986.39',
 '430580.83',
 '597397.69',
 '567044.24',
 '473174.93',
 '802637.96',
 '402296.35',
 '961831.09',
 '725595.38',
 '955292.69',
 '1038855.32',
 '247012.12',
 '561906.85',
 '904711.92',
 '268731.41',
 '373150.46',
 '366077.03',
 '792882.93',
 '501175.16',
 '798825.83',
 '388545.64',
 '935773.78',
 '254068.98',
 '488516.25',
 '975330.71',
 '294615.37',
 '258111.09',
 '351738.58',
 '974335.01',
 '387364.70',
 '764928.20',
 '228759.69',
 '825576.39',
 '871492.21',
 '681923.12',
 '741619.73',
 '777115.90',
 '696834.19',
 '425028.26',
 '1977656.65',
 '2134346.60',
 '241313.97',
 '1536384.72',
 '845696.19',
 '218964.25',
 '463998.16',
 '382443.13',
 '596811.89',
 '859033.50',
 '407663.47',
 '1225260.18',
 '1693627.15',
 '489243.55',
 '994230.48',
 '373583.81',
 '1311752.22',
 '457452.41',
 '547006.06',
 '297884.60',
 '641096.75',
 '447902.31',
 '238373.19',
 '276449.37',
 '792010.54',
 '688909.80',
 '327419.46',
 '995170.77',
 '252155.57',
 '2370611.34',
 '1114030.25',
 '433406.41',
 '279974.79',
 '792313.66',
 '368811.09',
 '1206745.60',
 '292497.67',
 '1501409.27',
 '927723.38',
 '627412.39',
 '388664.74',
 '438627.76',
 '1136526.77',
 '561096.43',
 '291289.20',
 '691572.99',
 '626266.33',
 '650339.70',
 '800739.94',
 '292991.65',
 '596955.30',
 '547315.99',
 '564539.67',
 '636926.24',
 '1183376.73',
 '612110.79',
 '515936.97',
 '251459.20',
 '866861.13',
 '496096.54',
 '550413.90',
 '750745.54',
 '3226985.14',
 '565703.16',
 '506175.79',
 '591278.38',
 '1518227.98',
 '1074703.09',
 '205062.35',
 '246544.49',
 '534312.13',
 '811982.91',
 '460526.52',
 '640878.56',
 '237653.35',
 '321107.00',
 '509452.23',
 '2575527.82',
 '867222.97',
 '804473.07',
 '400151.91',
 '1670611.70',
 '854441.11',
 '780531.29',
 '611275.69',
 '1097909.56',
 '500426.38',
 '1322304.38',
 '262331.54',
 '1784019.56',
 '510611.18',
 '1793060.45',
 '545734.26',
 '656364.41',
 '481252.52',
 '2932804.19',
 '577352.07',
 '684711.89',
 '359531.29',
 '2285561.21',
 '785941.46',
 '411557.74',
 '502963.88',
 '482141.85',
 '500431.05',
 '863005.39',
 '932208.51',
 '1672756.06',
 '365253.24',
 '615860.12',
 '437608.40',
 '556945.62',
 '257651.30',
 '834698.32',
 '632392.39',
 '597314.34',
 '470667.70',
 '809341.03',
 '503574.46',
 '902786.72',
 '728888.48',
 '1804247.94',
 '499206.30',
 '910226.78',
 '254040.77',
 '1294189.19',
 '236534.86',
 '572076.51',
 '703553.41',
 '263697.77',
 '539583.20',
 '838263.01',
 '3116174.52',
 '288774.23',
 '742584.53',
 '2558572.78',
 '1027260.82',
 '437636.36',
 '531889.66',
 '471976.22',
 '442803.16',
 '587917.61',
 '941690.85',
 '828815.56',
 '3265483.83',
 '471945.01',
 '390347.48',
 '545725.97',
 '272535.64',
 '443397.37',
 '533246.27',
 '231509.50',
 '541195.37',
 '958733.23',
 '2210350.72',
 '976494.53',
 '256715.15',
 '265062.28',
 '1126436.33',
 '216852.35',
 '861066.75',
 '283464.62',
 '893013.97',
 '553638.70',
 '284085.43',
 '808288.10',
 '525473.43',
 '511623.76',
 '303464.70',
 '802489.99',
 '1821114.32',
 '512156.33',
 '215017.86',
 '559538.99',
 '756282.40',
 '538585.32',
 '267805.83',
 '942256.79',
 '360586.03',
 '776259.06',
 '2344490.05',
 '255817.82',
 '265438.10',
 '254978.61',
 '296959.33',
 '436312.46',
 '588430.86',
 '527219.16',
 '550989.57',
 '1631368.35',
 '567805.02',
 '1210120.88',
 '245357.08',
 '507566.27',
 '321497.94',
 '1227534.31',
 '272221.07',
 '245744.09',
 '355484.53',
 '492954.97',
 '803645.03',
 '427691.53',
 '596058.14',
 '4479546.94',
 '383211.81',
 '683793.26',
 '528526.82',
 '309651.12',
 '358971.07',
 '258240.85',
 '340391.94',
 '1357567.60',
 '343613.43',
 '2868582.79',
 '450267.97',
 '618311.15',
 '1892933.06',
 '555329.58',
 '501125.92',
 '1044244.63',
 '219961.78',
 '512317.09',
 '748431.05',
 '261302.31',
 '908063.97',
 '1377097.62',
 '287682.29',
 '540891.15',
 '677030.68',
 '2414387.56',
 '353805.95',
 '2909123.94',
 '1983420.12',
 '473136.70',
 '3553784.60',
 '3461137.90',
 '2021630.88',
 '1397651.93',
 '590408.82',
 '559583.50',
 '229430.36',
 '627391.19',
 '372672.80',
 '265671.31',
 '511068.08',
 '712659.65',
 '460163.41',
 '915523.97',
 '1480805.62',
 '890167.84',
 '573459.82',
 '417769.70',
 '2777628.91',
 '1036434.75',
 '785190.14',
 '1422650.49',
 '287543.24',
 '504129.96',
 '436293.12',
 '962452.44',
 '2191440.55',
 '694842.22',
 '247152.84',
 '2190391.36',
 '902882.14',
 '530375.95',
 '2070825.88',
 '512376.81',
 '949234.30',
 '820486.32',
 '987729.57',
 '481500.97',
 '627701.17',
 '826063.98',
 '254945.00',
 '1131808.98',
 '380392.18',
 '863540.35',
 '551055.90',
 '358588.41',
 '488925.28',
 '275694.17',
 '328954.74',
 '1093717.85',
 '737556.79',
 '1011077.82',
 '511941.43',
 '853383.20',
 '222476.80',
 '804280.38',
 '255443.71',
 '1807394.00',
 '243050.66',
 '316765.84',
 '546560.40',
 '1035751.42',
 '253781.39',
 '282194.72',
 '775712.81',
 '407913.27',
 '595554.46',
 '1415861.36',
 '848723.80',
 '628547.69',
 '1147348.15',
 '494263.06',
 '2359468.02',
 '257250.66',
 '477055.09',
 '675665.14',
 '593601.18',
 '357076.05',
 '601996.05',
 '542686.40',
 '273031.38',
 '498268.14',
 '876926.68',
 '422061.35',
 '1153750.51',
 '588718.20',
 '470058.38',
 '1096395.72',
 '252317.12',
 '375780.47',
 '1294173.35',
 '376446.51',
 '688955.70',
 '362345.42',
 '758211.38',
 '827774.56',
 '257645.56',
 '820538.79',
 '1958246.89',
 '648152.66',
 '259931.09',
 '983033.76',
 '1044265.14',
 '3605753.70',
 '847003.68',
 '827878.65',
 '478893.26',
 '308799.99',
 '444373.62',
 '798408.65',
 '718097.10',
 '1565603.43',
 '2071494.04',
 '533735.24',
 '505082.62',
 '511662.40',
 '726873.70',
 '261661.39',
 '373843.62',
 '545386.12',
 '617291.42',
 '1034632.45',
 '699700.86',
 '419625.77',
 '785810.98',
 '606434.40',
 '1749752.20',
 '897064.73',
 '592311.72',
 '3585059.94',
 '870984.53',
 '1330933.52',
 '452850.49',
 '279190.65',
 '443441.12',
 '799600.75',
 '512973.90',
 '569717.52',
 '921713.06',
 '1020892.76',
 '417068.73',
 '450540.58',
 '310756.86',
 '552866.50',
 '504586.67',
 '296272.25',
 '866595.64',
 '1141344.12',
 '1548843.20',
 '886114.95',
 '593474.15',
 '354323.21',
 '349002.83',
 '368309.99',
 '598977.39',
 '1250084.30',
 '860915.82',
 '249745.51',
 '701917.72',
 '538792.63',
 '616555.75',
 '273020.29',
 '516211.69',
 '793706.48',
 '860815.72',
 '263254.58',
 '778500.42',
 '2163983.86',
 '498082.50',
 '745723.78',
 '1064093.93',
 '686250.83',
 '904898.34',
 '554803.19',
 '831268.16',
 '238998.10',
 '529574.17',
 '383960.61',
 '277890.37',
 '401654.20',
 '493094.93',
 '249131.70',
 '290887.59',
 '428294.80',
 '834162.37',
 '509078.13',
 '736618.83',
 '243687.51',
 '885268.87',
 '2387547.68',
 '560049.65',
 '463654.65',
 '757334.51',
 '1469663.55',
 '897214.03',
 '772484.01',
 '594667.07',
 '800054.51',
 '645756.10',
 '728144.01',
 '259243.78',
 '467842.34',
 '1386992.71',
 '871777.78',
 '523398.68',
 '476418.97',
 '247246.92',
 '281369.26',
 '550505.70',
 '260620.85',
 '1048194.38',
 '325676.64',
 '3047578.05',
 '636490.22',
 '946850.93',
 '563145.19',
 '778099.93',
 '981652.83',
 '751913.36',
 '1017971.70',
 '277283.92',
 '403750.18',
 '419196.61',
 '267686.79',
 '252395.96',
 '698840.16',
 '874205.78',
 '267331.96',
 '1215732.99',
 '295776.40',
 '717390.94',
 '309953.80',
 '841568.46',
 '2684312.45',
 '1305717.07',
 '959995.02',
 '853510.89',
 '829348.19',
 '663685.98',
 '560908.25',
 '507732.09',
 '527562.70',
 '343525.01',
 '662461.18',
 '575744.23',
 '288645.16',
 '534143.88',
 '416001.81',
 '284624.54',
 '477025.66',
 '505961.62',
 '909574.46',
 '268886.40',
 '827763.76',
 '905793.53',
 '380175.04',
 '933934.16',
 '252012.32',
 '498409.53',
 '259574.80',
 '743769.33',
 '1453678.76',
 '591330.59',
 '277166.30',
 '2919436.64',
 '988038.58',
 '1511440.24',
 '575991.08',
 '849516.42',
 '438118.42',
 '699782.74',
 '1143058.85',
 '748248.61',
 '859691.66',
 '785496.08',
 '907576.82',
 '411858.86',
 '515281.96',
 '651297.65',
 '2778969.24',
 '266727.00',
 '1092840.71',
 '761538.13',
 '200435.07',
 '243468.12',
 '1419536.03',
 '942768.49',
 '1198242.09',
 '310278.95',
 '422263.12',
 '402381.44',
 '529715.18',
 '2142363.72',
 '441620.62',
 '463903.52',
 '486354.46',
 '2583090.98',
 '297431.49',
 '206445.88',
 '1006460.83',
 '803240.19',
 '548921.41',
 '261275.67',
 '857346.39',
 '855038.66',
 '230864.80',
 '425462.07',
 '898285.04',
 '786816.60',
 '770424.87',
 '1055217.00',
 '1604510.95',
 '873783.75',
 '545489.07',
 '770528.33',
 '703926.24',
 '883808.56',
 '873352.73',
 '959747.48',
 '450666.02',
 '1785797.23',
 '249780.82',
 '542613.62',
 '799814.38',
 '289762.07',
 '1159950.22',
 '1514793.06',
 '543576.78',
 '1329771.23',
 '992704.97',
 '1777154.90',
 '1826927.02',
 '708321.24',
 '588950.91',
 '1577139.34',
 '528817.33',
 '2758055.40',
 '777853.23',
 '734186.13',
 '791919.70',
 '216387.02',
 '978780.88',
 '520764.08',
 '2114727.72',
 '1228076.66',
 '244139.42',
 '653556.06',
 '920659.83',
 '483820.90',
 '462554.81',
 '1404210.30',
 '754661.35',
 '517035.84',
 '1391737.72',
 '1131813.08',
 '427636.36',
 '432224.03',
 '447177.82',
 '849635.28',
 '2250088.35',
 '1630196.76',
 '231973.59',
 '871704.98',
 '286011.17',
 '245340.83',
 '2498022.55',
 '748263.95',
 '245757.60',
 '237974.12',
 '828696.44',
 '465715.95',
 '1319792.89',
 '280391.67',
 '864650.41',
 '742587.06',
 '452873.74',
 '222707.28',
 '729294.88',
 '318435.52',
 '1131520.37',
 '253070.51',
 '1836155.53',
 '864153.00',
 '327853.19',
 '527198.21',
 '376363.77',
 '1395556.96',
 '500152.75',
 '708283.04',
 '761948.28',
 '1255088.20',
 '3219660.04',
 '679377.41',
 '527231.97',
 '626534.33',
 '854758.61',
 '278742.37',
 '462680.11',
 '866336.40',
 '387222.22',
 '517081.15',
 '896028.02',
 '547183.43',
 '3493100.17',
 '262039.23',
 '1906949.95',
 '4022401.36',
 '270148.83',
 '371243.05',
 '2185084.00',
 '784016.58',
 '823703.79',
 '224347.39',
 '843446.41',
 '517002.60',
 '264144.61',
 '279068.30',
 '274512.98',
 '757953.27',
 '1097878.03',
 '825506.01',
 '474773.46',
 '354090.43',
 '258218.53',
 '1166509.78',
 '739628.37',
 '433079.98',
 '1463545.16',
 '856476.82',
 '1156568.75',
 '850712.88',
 '332309.25',
 '523433.17',
 '2470959.96',
 '1778627.78',
 '255122.67',
 '724771.37',
 '453884.78',
 '3164210.46',
 '873042.20',
 '833273.06',
 '235774.70',
 '463716.40',
 '535719.27',
 '539197.10',
 '369414.05',
 '504041.24',
 '2749542.19',
 '484228.50',
 '2738281.89',
 '522710.19',
 '259009.60',
 '1053607.80',
 '858127.87',
 '946311.33',
 '1344100.64',
 '388650.48',
 '678489.37',
 '253862.63',
 '563994.20',
 '1168137.43',
 '2599775.00',
 '1377836.93',
 '492318.17',
 '227233.54',
 '1489539.80',
 '975604.50',
 '942297.41',
 '383735.76',
 '1095213.19',
 '815913.66',
 '1948049.98',
 '391936.67',
 '798514.21',
 '1216874.49',
 '584932.15',
 '508583.66',
 '290393.98',
 '627317.34',
 '1832141.90',
 '517870.42',
 '1402435.84',
 '530943.59',
 '494980.38',
 '859566.53',
 '2295189.20',
 '379213.03',
 '275574.80',
 '488033.96',
 '905190.53',
 '1011544.62',
 '826907.54',
 '807165.30',
 '772699.36',
 '831113.59',
 '257402.04',
 '572732.71',
 '367914.21',
 '274451.96',
 '563674.03',
 '1687038.82',
 '273800.20',
 '464470.05',
 '474668.65',
 '1687432.82',
 '238760.61',
 '446533.57',
 '459162.59',
 '1309258.58',
 '911226.66',
 '416516.66',
 '265998.06',
 '1198659.21',
 '289873.27',
 '289424.39',
 '350045.44',
 '262180.86',
 '1022180.50',
 '257827.10',
 '624259.57',
 '522028.10',
 '313643.21',
 '452536.58',
 '497035.73',
 '1546778.90',
 '583889.92',
 '1065688.20',
 '228961.87',
 '543980.42',
 '795615.01',
 '255505.15',
 '330799.90',
 '845905.32',
 '1335012.09',
 '493122.13',
 '777683.52',
 '255367.22',
 '487646.97',
 '903430.58',
 '810591.08',
 '561968.91',
 '1572713.06',
 '661801.64',
 '467004.80',
 '1016936.98',
 '832307.40',
 '241776.00',
 '804487.24',
 '532572.45',
 '694752.40',
 '584741.52',
 '472478.61',
 '279022.80',
 '2153133.28',
 '1262283.27',
 '2017196.15',
 '1646436.59',
 '266544.71',
 '709891.41',
 '397134.51',
 '552821.28',
 '833899.58',
 '3844585.59',
 '544855.52',
 '1080806.60',
 '618509.65',
 '320822.59',
 '548010.41',
 '2298615.39',
 '1310792.59',
 '746292.63',
 '1146399.10',
 '723613.25',
 '623268.79',
 '2839332.99',
 '374675.16',
 '2156933.73',
 '501208.37',
 '337185.84',
 '386477.68',
 '414571.19',
 '515607.27',
 '366737.50',
 '783568.35',
 '1456726.84',
 '1017133.90',
 '413577.52',
 '551149.11',
 '1131424.39',
 '541461.73',
 '742159.35',
 '1447612.49',
 '493688.84',
 '452527.65',
 '558176.13',
 '1413434.74',
 '2472318.31',
 '283806.78',
 '384848.36',
 '1950447.39',
 ...]

In [186]:
list(df['vehicle_class'].unique())

['Four-Door Car',
 'Two-Door Car',
 'SUV',
 'Luxury SUV',
 'Sports Car',
 'Luxury Car',
 nan]

In [187]:
df['vehicle_class'] = df['vehicle_class'].replace({
    'Sport Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})

list(df['vehicle_class'].unique())

['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', 'Sports Car', nan]

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [188]:
list(df['customer_lifetime_value'].unique())

[nan,
 '697953.59',
 '1288743.17',
 '764586.18',
 '536307.65',
 '825629.78',
 '538089.86',
 '721610.03',
 '2412750.40',
 '738817.81',
 '473899.20',
 '819719.71',
 '879879.70',
 '881901.89',
 '538443.17',
 '746313.94',
 '256686.78',
 '394524.16',
 '571033.31',
 '816261.71',
 '287205.13',
 '617710.93',
 '245019.10',
 '239210.79',
 '580206.60',
 '394637.21',
 '916206.32',
 '1290256.01',
 '323536.05',
 '245458.35',
 '1897545.61',
 '471532.13',
 '473787.17',
 '493291.63',
 '574422.97',
 '1389173.57',
 '738097.67',
 '309003.41',
 '252163.31',
 '265206.18',
 '277104.50',
 '393900.64',
 '1223187.97',
 '495165.61',
 '1281910.29',
 '446851.05',
 '551434.40',
 '334387.53',
 '229447.89',
 '3670742.64',
 '3347334.95',
 '798343.17',
 '487938.48',
 '429399.73',
 '716439.55',
 '761951.58',
 '395800.28',
 '449949.33',
 '405956.74',
 '445811.34',
 '811033.31',
 '333976.49',
 '2426101.78',
 '661397.37',
 '293069.35',
 '867219.43',
 '1163866.93',
 '684615.03',
 '1172777.65',
 '2264383.48',
 '261447.43',
 '245175.27',
 '678127.02',
 '497480.15',
 '859160.49',
 '559216.14',
 '800947.28',
 '5816655.35',
 '802522.94',
 '578018.22',
 '411853.91',
 '252307.02',
 '655421.64',
 '538275.20',
 '592672.94',
 '268347.07',
 '269518.24',
 '604702.52',
 '1317101.28',
 '1595001.95',
 '252765.38',
 '267209.58',
 '531329.40',
 '2094619.25',
 '837535.39',
 '480166.15',
 '574594.33',
 '606611.60',
 '800230.83',
 '239391.54',
 '476281.79',
 '433038.60',
 '940272.98',
 '696669.45',
 '769406.43',
 '871756.11',
 '592874.85',
 '245297.73',
 '670157.17',
 '499655.27',
 '849269.88',
 '771349.40',
 '518579.76',
 '729006.98',
 '477294.38',
 '680649.14',
 '246978.13',
 '310392.30',
 '1048491.54',
 '890273.76',
 '549944.72',
 '1502359.86',
 '250910.79',
 '3122174.81',
 '313350.34',
 '383745.19',
 '1179049.62',
 '282986.39',
 '430580.83',
 '597397.69',
 '567044.24',
 '473174.93',
 '802637.96',
 '402296.35',
 '961831.09',
 '725595.38',
 '955292.69',
 '1038855.32',
 '247012.12',
 '561906.85',
 '904711.92',
 '268731.41',
 '373150.46',
 '366077.03',
 '792882.93',
 '501175.16',
 '798825.83',
 '388545.64',
 '935773.78',
 '254068.98',
 '488516.25',
 '975330.71',
 '294615.37',
 '258111.09',
 '351738.58',
 '974335.01',
 '387364.70',
 '764928.20',
 '228759.69',
 '825576.39',
 '871492.21',
 '681923.12',
 '741619.73',
 '777115.90',
 '696834.19',
 '425028.26',
 '1977656.65',
 '2134346.60',
 '241313.97',
 '1536384.72',
 '845696.19',
 '218964.25',
 '463998.16',
 '382443.13',
 '596811.89',
 '859033.50',
 '407663.47',
 '1225260.18',
 '1693627.15',
 '489243.55',
 '994230.48',
 '373583.81',
 '1311752.22',
 '457452.41',
 '547006.06',
 '297884.60',
 '641096.75',
 '447902.31',
 '238373.19',
 '276449.37',
 '792010.54',
 '688909.80',
 '327419.46',
 '995170.77',
 '252155.57',
 '2370611.34',
 '1114030.25',
 '433406.41',
 '279974.79',
 '792313.66',
 '368811.09',
 '1206745.60',
 '292497.67',
 '1501409.27',
 '927723.38',
 '627412.39',
 '388664.74',
 '438627.76',
 '1136526.77',
 '561096.43',
 '291289.20',
 '691572.99',
 '626266.33',
 '650339.70',
 '800739.94',
 '292991.65',
 '596955.30',
 '547315.99',
 '564539.67',
 '636926.24',
 '1183376.73',
 '612110.79',
 '515936.97',
 '251459.20',
 '866861.13',
 '496096.54',
 '550413.90',
 '750745.54',
 '3226985.14',
 '565703.16',
 '506175.79',
 '591278.38',
 '1518227.98',
 '1074703.09',
 '205062.35',
 '246544.49',
 '534312.13',
 '811982.91',
 '460526.52',
 '640878.56',
 '237653.35',
 '321107.00',
 '509452.23',
 '2575527.82',
 '867222.97',
 '804473.07',
 '400151.91',
 '1670611.70',
 '854441.11',
 '780531.29',
 '611275.69',
 '1097909.56',
 '500426.38',
 '1322304.38',
 '262331.54',
 '1784019.56',
 '510611.18',
 '1793060.45',
 '545734.26',
 '656364.41',
 '481252.52',
 '2932804.19',
 '577352.07',
 '684711.89',
 '359531.29',
 '2285561.21',
 '785941.46',
 '411557.74',
 '502963.88',
 '482141.85',
 '500431.05',
 '863005.39',
 '932208.51',
 '1672756.06',
 '365253.24',
 '615860.12',
 '437608.40',
 '556945.62',
 '257651.30',
 '834698.32',
 '632392.39',
 '597314.34',
 '470667.70',
 '809341.03',
 '503574.46',
 '902786.72',
 '728888.48',
 '1804247.94',
 '499206.30',
 '910226.78',
 '254040.77',
 '1294189.19',
 '236534.86',
 '572076.51',
 '703553.41',
 '263697.77',
 '539583.20',
 '838263.01',
 '3116174.52',
 '288774.23',
 '742584.53',
 '2558572.78',
 '1027260.82',
 '437636.36',
 '531889.66',
 '471976.22',
 '442803.16',
 '587917.61',
 '941690.85',
 '828815.56',
 '3265483.83',
 '471945.01',
 '390347.48',
 '545725.97',
 '272535.64',
 '443397.37',
 '533246.27',
 '231509.50',
 '541195.37',
 '958733.23',
 '2210350.72',
 '976494.53',
 '256715.15',
 '265062.28',
 '1126436.33',
 '216852.35',
 '861066.75',
 '283464.62',
 '893013.97',
 '553638.70',
 '284085.43',
 '808288.10',
 '525473.43',
 '511623.76',
 '303464.70',
 '802489.99',
 '1821114.32',
 '512156.33',
 '215017.86',
 '559538.99',
 '756282.40',
 '538585.32',
 '267805.83',
 '942256.79',
 '360586.03',
 '776259.06',
 '2344490.05',
 '255817.82',
 '265438.10',
 '254978.61',
 '296959.33',
 '436312.46',
 '588430.86',
 '527219.16',
 '550989.57',
 '1631368.35',
 '567805.02',
 '1210120.88',
 '245357.08',
 '507566.27',
 '321497.94',
 '1227534.31',
 '272221.07',
 '245744.09',
 '355484.53',
 '492954.97',
 '803645.03',
 '427691.53',
 '596058.14',
 '4479546.94',
 '383211.81',
 '683793.26',
 '528526.82',
 '309651.12',
 '358971.07',
 '258240.85',
 '340391.94',
 '1357567.60',
 '343613.43',
 '2868582.79',
 '450267.97',
 '618311.15',
 '1892933.06',
 '555329.58',
 '501125.92',
 '1044244.63',
 '219961.78',
 '512317.09',
 '748431.05',
 '261302.31',
 '908063.97',
 '1377097.62',
 '287682.29',
 '540891.15',
 '677030.68',
 '2414387.56',
 '353805.95',
 '2909123.94',
 '1983420.12',
 '473136.70',
 '3553784.60',
 '3461137.90',
 '2021630.88',
 '1397651.93',
 '590408.82',
 '559583.50',
 '229430.36',
 '627391.19',
 '372672.80',
 '265671.31',
 '511068.08',
 '712659.65',
 '460163.41',
 '915523.97',
 '1480805.62',
 '890167.84',
 '573459.82',
 '417769.70',
 '2777628.91',
 '1036434.75',
 '785190.14',
 '1422650.49',
 '287543.24',
 '504129.96',
 '436293.12',
 '962452.44',
 '2191440.55',
 '694842.22',
 '247152.84',
 '2190391.36',
 '902882.14',
 '530375.95',
 '2070825.88',
 '512376.81',
 '949234.30',
 '820486.32',
 '987729.57',
 '481500.97',
 '627701.17',
 '826063.98',
 '254945.00',
 '1131808.98',
 '380392.18',
 '863540.35',
 '551055.90',
 '358588.41',
 '488925.28',
 '275694.17',
 '328954.74',
 '1093717.85',
 '737556.79',
 '1011077.82',
 '511941.43',
 '853383.20',
 '222476.80',
 '804280.38',
 '255443.71',
 '1807394.00',
 '243050.66',
 '316765.84',
 '546560.40',
 '1035751.42',
 '253781.39',
 '282194.72',
 '775712.81',
 '407913.27',
 '595554.46',
 '1415861.36',
 '848723.80',
 '628547.69',
 '1147348.15',
 '494263.06',
 '2359468.02',
 '257250.66',
 '477055.09',
 '675665.14',
 '593601.18',
 '357076.05',
 '601996.05',
 '542686.40',
 '273031.38',
 '498268.14',
 '876926.68',
 '422061.35',
 '1153750.51',
 '588718.20',
 '470058.38',
 '1096395.72',
 '252317.12',
 '375780.47',
 '1294173.35',
 '376446.51',
 '688955.70',
 '362345.42',
 '758211.38',
 '827774.56',
 '257645.56',
 '820538.79',
 '1958246.89',
 '648152.66',
 '259931.09',
 '983033.76',
 '1044265.14',
 '3605753.70',
 '847003.68',
 '827878.65',
 '478893.26',
 '308799.99',
 '444373.62',
 '798408.65',
 '718097.10',
 '1565603.43',
 '2071494.04',
 '533735.24',
 '505082.62',
 '511662.40',
 '726873.70',
 '261661.39',
 '373843.62',
 '545386.12',
 '617291.42',
 '1034632.45',
 '699700.86',
 '419625.77',
 '785810.98',
 '606434.40',
 '1749752.20',
 '897064.73',
 '592311.72',
 '3585059.94',
 '870984.53',
 '1330933.52',
 '452850.49',
 '279190.65',
 '443441.12',
 '799600.75',
 '512973.90',
 '569717.52',
 '921713.06',
 '1020892.76',
 '417068.73',
 '450540.58',
 '310756.86',
 '552866.50',
 '504586.67',
 '296272.25',
 '866595.64',
 '1141344.12',
 '1548843.20',
 '886114.95',
 '593474.15',
 '354323.21',
 '349002.83',
 '368309.99',
 '598977.39',
 '1250084.30',
 '860915.82',
 '249745.51',
 '701917.72',
 '538792.63',
 '616555.75',
 '273020.29',
 '516211.69',
 '793706.48',
 '860815.72',
 '263254.58',
 '778500.42',
 '2163983.86',
 '498082.50',
 '745723.78',
 '1064093.93',
 '686250.83',
 '904898.34',
 '554803.19',
 '831268.16',
 '238998.10',
 '529574.17',
 '383960.61',
 '277890.37',
 '401654.20',
 '493094.93',
 '249131.70',
 '290887.59',
 '428294.80',
 '834162.37',
 '509078.13',
 '736618.83',
 '243687.51',
 '885268.87',
 '2387547.68',
 '560049.65',
 '463654.65',
 '757334.51',
 '1469663.55',
 '897214.03',
 '772484.01',
 '594667.07',
 '800054.51',
 '645756.10',
 '728144.01',
 '259243.78',
 '467842.34',
 '1386992.71',
 '871777.78',
 '523398.68',
 '476418.97',
 '247246.92',
 '281369.26',
 '550505.70',
 '260620.85',
 '1048194.38',
 '325676.64',
 '3047578.05',
 '636490.22',
 '946850.93',
 '563145.19',
 '778099.93',
 '981652.83',
 '751913.36',
 '1017971.70',
 '277283.92',
 '403750.18',
 '419196.61',
 '267686.79',
 '252395.96',
 '698840.16',
 '874205.78',
 '267331.96',
 '1215732.99',
 '295776.40',
 '717390.94',
 '309953.80',
 '841568.46',
 '2684312.45',
 '1305717.07',
 '959995.02',
 '853510.89',
 '829348.19',
 '663685.98',
 '560908.25',
 '507732.09',
 '527562.70',
 '343525.01',
 '662461.18',
 '575744.23',
 '288645.16',
 '534143.88',
 '416001.81',
 '284624.54',
 '477025.66',
 '505961.62',
 '909574.46',
 '268886.40',
 '827763.76',
 '905793.53',
 '380175.04',
 '933934.16',
 '252012.32',
 '498409.53',
 '259574.80',
 '743769.33',
 '1453678.76',
 '591330.59',
 '277166.30',
 '2919436.64',
 '988038.58',
 '1511440.24',
 '575991.08',
 '849516.42',
 '438118.42',
 '699782.74',
 '1143058.85',
 '748248.61',
 '859691.66',
 '785496.08',
 '907576.82',
 '411858.86',
 '515281.96',
 '651297.65',
 '2778969.24',
 '266727.00',
 '1092840.71',
 '761538.13',
 '200435.07',
 '243468.12',
 '1419536.03',
 '942768.49',
 '1198242.09',
 '310278.95',
 '422263.12',
 '402381.44',
 '529715.18',
 '2142363.72',
 '441620.62',
 '463903.52',
 '486354.46',
 '2583090.98',
 '297431.49',
 '206445.88',
 '1006460.83',
 '803240.19',
 '548921.41',
 '261275.67',
 '857346.39',
 '855038.66',
 '230864.80',
 '425462.07',
 '898285.04',
 '786816.60',
 '770424.87',
 '1055217.00',
 '1604510.95',
 '873783.75',
 '545489.07',
 '770528.33',
 '703926.24',
 '883808.56',
 '873352.73',
 '959747.48',
 '450666.02',
 '1785797.23',
 '249780.82',
 '542613.62',
 '799814.38',
 '289762.07',
 '1159950.22',
 '1514793.06',
 '543576.78',
 '1329771.23',
 '992704.97',
 '1777154.90',
 '1826927.02',
 '708321.24',
 '588950.91',
 '1577139.34',
 '528817.33',
 '2758055.40',
 '777853.23',
 '734186.13',
 '791919.70',
 '216387.02',
 '978780.88',
 '520764.08',
 '2114727.72',
 '1228076.66',
 '244139.42',
 '653556.06',
 '920659.83',
 '483820.90',
 '462554.81',
 '1404210.30',
 '754661.35',
 '517035.84',
 '1391737.72',
 '1131813.08',
 '427636.36',
 '432224.03',
 '447177.82',
 '849635.28',
 '2250088.35',
 '1630196.76',
 '231973.59',
 '871704.98',
 '286011.17',
 '245340.83',
 '2498022.55',
 '748263.95',
 '245757.60',
 '237974.12',
 '828696.44',
 '465715.95',
 '1319792.89',
 '280391.67',
 '864650.41',
 '742587.06',
 '452873.74',
 '222707.28',
 '729294.88',
 '318435.52',
 '1131520.37',
 '253070.51',
 '1836155.53',
 '864153.00',
 '327853.19',
 '527198.21',
 '376363.77',
 '1395556.96',
 '500152.75',
 '708283.04',
 '761948.28',
 '1255088.20',
 '3219660.04',
 '679377.41',
 '527231.97',
 '626534.33',
 '854758.61',
 '278742.37',
 '462680.11',
 '866336.40',
 '387222.22',
 '517081.15',
 '896028.02',
 '547183.43',
 '3493100.17',
 '262039.23',
 '1906949.95',
 '4022401.36',
 '270148.83',
 '371243.05',
 '2185084.00',
 '784016.58',
 '823703.79',
 '224347.39',
 '843446.41',
 '517002.60',
 '264144.61',
 '279068.30',
 '274512.98',
 '757953.27',
 '1097878.03',
 '825506.01',
 '474773.46',
 '354090.43',
 '258218.53',
 '1166509.78',
 '739628.37',
 '433079.98',
 '1463545.16',
 '856476.82',
 '1156568.75',
 '850712.88',
 '332309.25',
 '523433.17',
 '2470959.96',
 '1778627.78',
 '255122.67',
 '724771.37',
 '453884.78',
 '3164210.46',
 '873042.20',
 '833273.06',
 '235774.70',
 '463716.40',
 '535719.27',
 '539197.10',
 '369414.05',
 '504041.24',
 '2749542.19',
 '484228.50',
 '2738281.89',
 '522710.19',
 '259009.60',
 '1053607.80',
 '858127.87',
 '946311.33',
 '1344100.64',
 '388650.48',
 '678489.37',
 '253862.63',
 '563994.20',
 '1168137.43',
 '2599775.00',
 '1377836.93',
 '492318.17',
 '227233.54',
 '1489539.80',
 '975604.50',
 '942297.41',
 '383735.76',
 '1095213.19',
 '815913.66',
 '1948049.98',
 '391936.67',
 '798514.21',
 '1216874.49',
 '584932.15',
 '508583.66',
 '290393.98',
 '627317.34',
 '1832141.90',
 '517870.42',
 '1402435.84',
 '530943.59',
 '494980.38',
 '859566.53',
 '2295189.20',
 '379213.03',
 '275574.80',
 '488033.96',
 '905190.53',
 '1011544.62',
 '826907.54',
 '807165.30',
 '772699.36',
 '831113.59',
 '257402.04',
 '572732.71',
 '367914.21',
 '274451.96',
 '563674.03',
 '1687038.82',
 '273800.20',
 '464470.05',
 '474668.65',
 '1687432.82',
 '238760.61',
 '446533.57',
 '459162.59',
 '1309258.58',
 '911226.66',
 '416516.66',
 '265998.06',
 '1198659.21',
 '289873.27',
 '289424.39',
 '350045.44',
 '262180.86',
 '1022180.50',
 '257827.10',
 '624259.57',
 '522028.10',
 '313643.21',
 '452536.58',
 '497035.73',
 '1546778.90',
 '583889.92',
 '1065688.20',
 '228961.87',
 '543980.42',
 '795615.01',
 '255505.15',
 '330799.90',
 '845905.32',
 '1335012.09',
 '493122.13',
 '777683.52',
 '255367.22',
 '487646.97',
 '903430.58',
 '810591.08',
 '561968.91',
 '1572713.06',
 '661801.64',
 '467004.80',
 '1016936.98',
 '832307.40',
 '241776.00',
 '804487.24',
 '532572.45',
 '694752.40',
 '584741.52',
 '472478.61',
 '279022.80',
 '2153133.28',
 '1262283.27',
 '2017196.15',
 '1646436.59',
 '266544.71',
 '709891.41',
 '397134.51',
 '552821.28',
 '833899.58',
 '3844585.59',
 '544855.52',
 '1080806.60',
 '618509.65',
 '320822.59',
 '548010.41',
 '2298615.39',
 '1310792.59',
 '746292.63',
 '1146399.10',
 '723613.25',
 '623268.79',
 '2839332.99',
 '374675.16',
 '2156933.73',
 '501208.37',
 '337185.84',
 '386477.68',
 '414571.19',
 '515607.27',
 '366737.50',
 '783568.35',
 '1456726.84',
 '1017133.90',
 '413577.52',
 '551149.11',
 '1131424.39',
 '541461.73',
 '742159.35',
 '1447612.49',
 '493688.84',
 '452527.65',
 '558176.13',
 '1413434.74',
 '2472318.31',
 '283806.78',
 '384848.36',
 '1950447.39',
 ...]

In [189]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

df['customer_lifetime_value'].dtypes

dtype('float64')

In [190]:
list(df['number_of_open_complaints'].unique())

['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan]

In [191]:
# Divido la string y me quedo con la segunda parte de string despuÃ©s de /
df['number_of_open_complaints'] = (df['number_of_open_complaints'].str.split('/').str[1])

# Reemplazo con 0 los nan para poder convertirlos en integer
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(0)

#Convierto en integer la columna
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(int)

list(df['number_of_open_complaints'].unique())

df['number_of_open_complaints'].dtypes

dtype('int64')

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [192]:
# Identifico las columnas nulas
df.isnull().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints       0
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  4008 non-null   int64
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 344.6+ KB

In [194]:
df.tail(30)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
3978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

In [200]:
columnas_numericas = ['customer_lifetime_value', 'income', 'monthly_premium_auto','number_of_open_complaints','total_claim_amount']
columnas_categoricas = ['state', 'gender', 'education', 'policy_type', 'vehicle_class']

In [201]:
# Relleno con la mediana los valores nan en las columnas numÃ©ricas
for columna in columnas_numericas:
    mediana = df[columna].median()
    df[columna] = df[columna].fillna(mediana)

# Relleno con la moda las columnas categÃ³ricas con valores nulos
for columna in columnas_categoricas:
    moda = df[columna].mode()[0]
    df[columna] = df[columna].fillna(moda)

In [204]:
df.isnull().sum()

customer                     2937
state                           0
gender                          0
education                       0
customer_lifetime_value         0
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                     0
vehicle_class                   0
total_claim_amount              0
dtype: int64

In [205]:
# Convierto las columnas numÃ©ricas a integer
for columna in columnas_numericas:
    df[columna] = df[columna].astype(int)

df.dtypes

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [211]:
# Identifico las filas duplicadas y cuento el total de duplicados. Muestro las 30 primeras
duplicados = df.duplicated()
num_duplicados = duplicados.sum()

if num_duplicados > 0:
    print(df[duplicados].head(30))

     customer       state gender education  customer_lifetime_value  income  \
1072      NaN  California      F  Bachelor                   588174   36234
1073      NaN  California      F  Bachelor                   588174   36234
1074      NaN  California      F  Bachelor                   588174   36234
1075      NaN  California      F  Bachelor                   588174   36234
1076      NaN  California      F  Bachelor                   588174   36234
1077      NaN  California      F  Bachelor                   588174   36234
1078      NaN  California      F  Bachelor                   588174   36234
1079      NaN  California      F  Bachelor                   588174   36234
1080      NaN  California      F  Bachelor                   588174   36234
1081      NaN  California      F  Bachelor                   588174   36234
1082      NaN  California      F  Bachelor                   588174   36234
1083      NaN  California      F  Bachelor                   588174   36234
1084      NaN  California      F  Bachelor                   588174   36234
1085      NaN  California      F  Bachelor                   588174   36234
1086      NaN  California      F  Bachelor                   588174   36234
1087      NaN  California      F  Bachelor                   588174   36234
1088      NaN  California      F  Bachelor                   588174   36234
1089      NaN  California      F  Bachelor                   588174   36234
1090      NaN  California      F  Bachelor                   588174   36234
1091      NaN  California      F  Bachelor                   588174   36234
1092      NaN  California      F  Bachelor                   588174   36234
1093      NaN  California      F  Bachelor                   588174   36234
1094      NaN  California      F  Bachelor                   588174   36234
1095      NaN  California      F  Bachelor                   588174   36234
1096      NaN  California      F  Bachelor                   588174   36234
1097      NaN  California      F  Bachelor                   588174   36234
1098      NaN  California      F  Bachelor                   588174   36234
1099      NaN  California      F  Bachelor                   588174   36234
1100      NaN  California      F  Bachelor                   588174   36234
1101      NaN  California      F  Bachelor                   588174   36234

      monthly_premium_auto  number_of_open_complaints    policy_type  \
1072                    83                          0  Personal Auto
1073                    83                          0  Personal Auto
1074                    83                          0  Personal Auto
1075                    83                          0  Personal Auto
1076                    83                          0  Personal Auto
1077                    83                          0  Personal Auto
1078                    83                          0  Personal Auto
1079                    83                          0  Personal Auto
1080                    83                          0  Personal Auto
1081                    83                          0  Personal Auto
1082                    83                          0  Personal Auto
1083                    83                          0  Personal Auto
1084                    83                          0  Personal Auto
1085                    83                          0  Personal Auto
1086                    83                          0  Personal Auto
1087                    83                          0  Personal Auto
1088                    83                          0  Personal Auto
1089                    83                          0  Personal Auto
1090                    83                          0  Personal Auto
1091                    83                          0  Personal Auto
1092                    83                          0  Personal Auto
1093                    83                          0  Personal Auto
1094                    83                          0  Personal Auto
1095                    83                          0  Personal Auto
1096                    83                          0  Personal Auto
1097                    83                          0  Personal Auto
1098                    83                          0  Personal Auto
1099                    83                          0  Personal Auto
1100                    83                          0  Personal Auto
1101                    83                          0  Personal Auto

      vehicle_class  total_claim_amount
1072  Four-Door Car                 354
1073  Four-Door Car                 354
1074  Four-Door Car                 354
1075  Four-Door Car                 354
1076  Four-Door Car                 354
1077  Four-Door Car                 354
1078  Four-Door Car                 354
1079  Four-Door Car                 354
1080  Four-Door Car                 354
1081  Four-Door Car                 354
1082  Four-Door Car                 354
1083  Four-Door Car                 354
1084  Four-Door Car                 354
1085  Four-Door Car                 354
1086  Four-Door Car                 354
1087  Four-Door Car                 354
1088  Four-Door Car                 354
1089  Four-Door Car                 354
1090  Four-Door Car                 354
1091  Four-Door Car                 354
1092  Four-Door Car                 354
1093  Four-Door Car                 354
1094  Four-Door Car                 354
1095  Four-Door Car                 354
1096  Four-Door Car                 354
1097  Four-Door Car                 354
1098  Four-Door Car                 354
1099  Four-Door Car                 354
1100  Four-Door Car                 354
1101  Four-Door Car                 354

In [213]:
#Eliminamos las filas duplicadas y reseteamos el index
df_limp = df.drop_duplicates().reset_index(drop = True)

In [214]:
df_limp.duplicated().sum()

0

In [215]:
df_limp

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,588174,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
1067,VJ51327,California,F,High School or Below,2031499,63209,102,2,Personal Auto,SUV,207
1068,GS98873,Arizona,F,Bachelor,323912,16061,88,0,Personal Auto,Four-Door Car,633
1069,CW49887,California,F,Master,462680,79487,114,0,Special Auto,SUV,547
1070,MY31220,California,F,College,899704,54230,112,0,Personal Auto,Two-Door Car,537
1071,NaN,California,F,Bachelor,588174,36234,83,0,Personal Auto,Four-Door Car,354

In [217]:
df_limp.to_csv('df_limpio.cvs', index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [197]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [198]:
# Your code here